* {
  box-sizing: border-box;
}

div {
  padding-bottom: 25px;

  span {
    color: #03A9F4;
    font-size: large;
    text-align: center;
    width: 100%;
  }

  img {
    width: 40px;
    height: 40px;
    margin: 0 auto;
  }

}
