<div class="title" [ngStyle]="{ 'text-align': getAlign() }">
    <span> {{ name }}</span>
</div>
<table class="la-grid" [ngStyle]="{ 'direction': getDirection() }"> <!--  -->
    <thead>
      <tr>
        <th *ngIf="comboColumn" class="cbColumn">
          #
        </th>
        <ng-container *ngFor="let c of columns; let ci = index">
          <th [ngStyle]="{ 'width': getWidth(c.width), 'text-align': getTextAlign(c.header_align) }">
            {{ c.name }}
          </th>
        </ng-container>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of data; let i = index">
        <td *ngIf="comboColumn" class="cbColumn">
          <input clas="checkbox" class="checkbox-system" [checked]="i === selectedRow" (change)="selectRow(i)" />
        </td>
        <ng-container *ngFor="let c of columns; let j = index">
          <td [ngStyle]="{ 'width': getWidth(c.width), 'text-align': getTextAlign(c.cell_align) }">
              {{ d[c.property] }}
          </td>
        </ng-container>
      </tr>
    </tbody>
  </table>
