
* {
  box-sizing: border-box;
}

.body {
  background-color: black;
  width: 100%;
  height: 100%;
  padding: 20px 0;
}

la-sidenav-tab {
  height: 100%;
  width: 100%;
  background-color: black;
  cursor: pointer;
}
